
    <div class="customer-list">
        <div class="table-header">
            <h3>Customer Management </h3>
            <div class="add-icon">
                <mat-icon (click)="onAddNewCustomer()">add</mat-icon>
            </div>
        </div>
        <table MatTableResponsive mat-table [dataSource]="dataSource" class="responsive-table mat-elevation-z8 demo-table">
            <ng-container class="custom-column" *ngFor="let column of columns" [matColumnDef]="column.columnDef">
              <th mat-header-cell *matHeaderCellDef>
                {{column.header}}
              </th>
              <ng-component *ngIf="column.header != 'Actions'">
                <td  data-label="Name" mat-cell *matCellDef="let row">
                  {{column.cell(row)}}
                </td>
              </ng-component>
             
              <ng-container  *ngIf="column.header == 'Actions'">
                <td class="action-column" mat-cell *matCellDef="let row" >
                  <mat-icon (click)="onPreview(row.id)">visibility</mat-icon> 
                   <mat-icon (click)="onEdit(row)">edit</mat-icon>
                   	<mat-icon (click)="onDelete(row.id)">delete</mat-icon>
                </td>

              </ng-container>
            </ng-container>
            
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> 
    </div>