.add-edit-form{
    width:100%;
    .form-header{
        background-color: #1C4E80;
        padding:20px;
        color:#fff;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        width:90%;
        margin:10px auto;
        mat-form-field{
            width:100%;
        }
        .actions{
            display:flex;
            justify-content: flex-end;
            flex-wrap:wrap;
            gap:20px;
            button{
                background-color: #1C4E80;
                color:#fff;
                &.cancle{
                     background-color:#D32D41;
                }
                &[disabled='true']{
                    opacity: 0.5;
                }
             }
        }
    }
}